/*
 * *  dark blue: #355796 / rgb(53, 87, 150) / hsl(219, 48%, 40%)
 * *  light blue: #BAD3E1 / rgb(186, 211, 225)
 * *  dark blue from the ECE website: #0E2854 
 * */
h1.brand {
    background: #355796 repeat-x top left;
    border: 0;
}
h1.brand a {
    background: url('../img/hdr_ece.png') top left no-repeat;
    height: 45px;
    width: 230px;
    margin-left: 0;
}


/* LOGIN PAGE */
#splash .login {
    /* background: #355796 url(../img/loginLogo.png) no-repeat center 35px; */
    background: hsl(219, 48%, 40%) url(../img/uofa-engg-logo-small.png) no-repeat center 25px;
}
#splash .login .modal-header {
    border: 0px;
    background: hsl(219, 48%, 60%);
}
#splash .login .modal-footer {
    border: 0px;
    background: hsl(219, 48%, 60%);
}

#splash form {
    background: hsl(219, 48%, 80%);
}

/* SIDE BAR */

.nav_accordion dt {
    /* background: hsl(219, 48%, 40%); */
    background: #0E2854;
}

.nav_accordion dt div {
    color: white;
}

.nav_accordion dt h4, .nav_accordion dd h4 {
    background: hsl(219, 48%, 60%);
}

.nav_accordion dt h4 div, .nav_accordion dd h4 div {
    color: white;
}

.nav_accordion dt h4.active, .nav_accordion dd h4.active {
    background-image: none !important;
}

.nav_accordion {
    color: white;
    background: hsl(219, 48%, 80%);
}

/* TOP BAR */

.topbar {
    /* background: hsl(219, 48%, 80%); */
    background: #0E2854;
}

.topbar .switcher_bar {
    background: hsl(219, 48%, 80%);
}

#user_info > a {
    color: white !important;
    margin-left: 17px;
}

.pull_right a {
    color: white;
}

.topbar .context-box .context-selection .dropdown-toggle {
    color: white;
}



.btn-primary {
    background-image: none !important;
    background-color: #355796 !important;
    border: none !important;
    box-shadow: none;
}
.btn-primary:hover,
.btn-primary:active {
    border: none;
    box-shadow: none;
    background-color: #BAD3E1 !important;
    text-decoration: none;
}
