#version=RHEL7
# System authorization information
auth --enableshadow --passalgo=sha512

# Use CDROM installation media
cdrom
# Use graphical install
graphical
# Run the Setup Agent on first boot
firstboot --enable
ignoredisk --only-use=sda
# Keyboard layouts
keyboard --vckeymap=us --xlayouts='us'
# System language
lang en_CA.UTF-8

# Network information
network  --bootproto=static --device=eno1 --gateway=192.168.1.1 --ip=192.168.1.11 --nameserver=129.128.208.13 --netmask=255.255.255.0 --noipv6 --activate
network  --bootproto=dhcp --device=enp2s10 --onboot=off --ipv6=auto
network  --hostname=local
# Root password
rootpw --iscrypted $6$EjwHBPo0ng3htaNe$r81hPJNhelMAUvpKbMqsJcqfR26TKROse0kXM6gdL/HY9qAuUquCnppRihuQPiY4noBcBmxMjIMQEKDAIrT3n1
# System timezone
timezone America/Edmonton --isUtc
# System bootloader configuration
bootloader --append=" crashkernel=auto" --location=mbr --boot-drive=sda
autopart --type=lvm
# Partition clearing information
zerombr
clearpart --all --initlabel --drives=sda

%packages
@core
kexec-tools

%end

%addon com_redhat_kdump --enable --reserve-mb='auto'

%end
